ctgan~=0.5.1
numpy~=1.22.4
packaging~=21.3
pandas~=1.4.3
torch~=1.12.0
tqdm~=4.62.3
DataSynthesizer~=0.1.10
sdv~=0.16.0
matplotlib~=3.5.1
scikit-learn~=1.0.1
seaborn~=0.11.2
pandasql~=0.7.3
scipy~=1.7.3
PyYAML~=5.4.1
python-dateutil~=2.8.2
sklearn~=0.0
setuptools~=60.0.3
tensorboard~=2.8.0
tensorflow~=2.8.0
jsonschema~=4.2.1
tables~=3.7.0
